services:
  db:
    image: postgres:18
    ports:
      - "15432:5432"
    volumes:
      - "./bank-init.sql:/docker-entrypoint-initdb.d/bank-init.sql"
    environment:
      - "POSTGRES_PASSWORD=testpostgres"